@page "/shop"
@using System.Globalization;

<PageTitle>Shop</PageTitle>
<div class="row col-12" style="margin: 0px; padding: 20px">
    <div style="display: inline-block; margin: 0px; padding: 0px" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <RadzenText Text="Shop by" TextStyle="Radzen.Blazor.TextStyle.H4" Style="margin-bottom: 2px; margin-top: 20px; padding-bottom: 10px;" />
        <RadzenPanelMenu Style="background-color: rgba(0, 0, 0, 0); padding-bottom: 10px; padding-top: 0px">
            <RadzenPanelMenuItem Text="Collection" Expanded="true" Style="color: #000000; background-color: rgba(0, 0, 0, 0); border: 0px none rgba(0, 0, 0, 0); margin-bottom: 5px; margin-top: 5px">
                @if (Data != null && Data.Categories != null)
                {
                    foreach (var categorie in Data.Categories)
                    {
                        <RadzenPanelMenuItem Text="@(categorie.Name)" Style="color: #000000; background-color: rgba(0, 0, 0, 0)"></RadzenPanelMenuItem>
                    }
                }
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Price" Style="color: #000000; background-color: rgba(0, 0, 0, 0); border: 0px none rgba(0, 0, 0, 0); margin-top: 5px; margin-bottom: 5px">
                <RadzenPanelMenuItem Text="10 €"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="15 €"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="20 €"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </div>

    <div style="display: inline-block; padding: 0px; background-color: rgba(0, 0, 0, 0)" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

        <RadzenPanel class="col-12" Style="margin-right: 0px; margin-bottom: 20px; margin-top: 20px; background-color: rgba(0, 0, 0, 0)">

            @if (Data != null && Data.Articles != null)
            {
                foreach(var article in Data.Articles)
                {
                    var articleImage = Data.Images.Where(x => x.ArticleId == article.Id).FirstOrDefault().ImageUrl;

                    <RadzenCard Style="display: inline-block; margin-bottom: 10px; margin-top: 10px; margin: 10px" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" onclick="@(() => OpenOrder(article.Id.Value))">
                        <div class="row col-12" style="margin-bottom: -30px; margin: 0px">
                            <RadzenBadge Text="sale" BadgeStyle="Radzen.BadgeStyle.Info" Variant="Radzen.Variant.Filled" Style="position: relative; top: 0px; left: 0px; width: 100px; height: 30px; z-index: 10; margin-top: 10px; margin-left: 10px; padding-top: 6px; background-color: #4f4f4f"></RadzenBadge>
                            <RadzenImage Path="@articleImage" Style="position: relative; display: block; top: -30px; padding: 0px"></RadzenImage>
                        </div>
                        <div class="row col-12" style="margin: 0px">
                            <RadzenButton onclick="@(() => OpenOrder(article.Id.Value))" Text="@(article.Title)" ButtonStyle="Radzen.ButtonStyle.Light" Style="background-color: rgba(0, 0, 0, 0); text-transform: none" Size="Radzen.ButtonSize.Medium" Shade="Radzen.Shade.Light"></RadzenButton>
                            <RadzenText Text="@($"{(article.Price.HasValue ? article.Price.Value.ToString(CultureInfo.InvariantCulture) : "0")}€")" TextAlign="Radzen.TextAlign.Center" Style="padding-top: 5px; padding-bottom: 5px" />
                        </div>
                    </RadzenCard>
                }
            }

        </RadzenPanel>
    </div>
</div>